<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.sp.app0828.domain.Admin" alias="Admin"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/oracle"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
	  <!-- SQL문을 자바 소스에 작성하지 않고 xml에 작성하여 유지보수성을 높인다
	  즉 jsva.sql JDBC를 제어할 필요 없다.. 개발자는 쿼리문에만 집중하면 된다 -->
    <mapper resource="org/sp/app0828/mybatis/AdminMapper.xml"/>
    
  </mappers>
</configuration>